In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/groupby_example.csv')
df.head()

  Gender  height
0      m     172
1      f     171
2      f     169
3      m     173
4      f     170

In [12]:
# The long route to divide the Datasets by Gender
male = df['Gender']=='m'
female = df['Gender']=='f'

In [13]:
# to Find the average height for the Males
mAvg = df[male]['height'].mean()
fAvg = df[female]['height'].mean()

In [14]:
print(mAvg)

174.5

In [15]:
# to form a datafrma ewith this 
df_output = pd.DataFrame({'Gender':['f','m'],'Height':[fAvg,mAvg]})
df_output

  Gender  Height
0      f   170.0
1      m   174.5

In [18]:
# But all of this can be done wit groupby function
df.groupby('Gender').max()

        height
Gender
f          171
m          178