In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/big_mart_data.csv')
df.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
# Number of Rows and Columns
rowNumber,cNumber = df.shape
print(f'This Dataset has {rowNumber} rows')

This Dataset has 40 rows

In [7]:
print(f'This Dataset has {cNumber} columns')

This Dataset has 12 columns

In [10]:
#Duplicated Rows 
df.duplicated().sum()

0

In [11]:
# Do we have any missing data - column, rows
df.isnull().sum().sum()

15

In [12]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  8
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  7
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [13]:
#using groupby to handle the Analysis basd on Outlet_location_ttpe
obj = df.groupby('Outlet_Location_Type')

In [14]:
obj

In [16]:
# loop through to get more information 
for name,group in obj:
    print(name,' contains',group.shape[0],' rows')

Tier 1  contains 13  rows
Tier 2  contains 7  rows
Tier 3  contains 20  rows

In [18]:
# use get_group to separet the data into the outlet location type
ttier1df = obj.get_group('Tier 1')
ttier2df = obj.get_group('Tier 2')
ttier3df = obj.get_group('Tier 3')

In [23]:
ttier3df.Item_Weight.max()

19.25

In [24]:
highest_weight_by_location_type = pd.DataFrame({'Location Type':['Tier 1','Tier 2',' Tier 3'],' Hughest Weight':[ttier1df.Item_Weight.max(),ttier2df.Item_Weight.max(),ttier3df.Item_Weight.max()]})

In [25]:
highest_weight_by_location_type

  Location Type   Hughest Weight
0        Tier 1            18.50
1        Tier 2            19.20
2        Tier 3            19.25

In [ ]:
# df = df.drop_duplicates(inplace=True)